{
	auto_https off
}

:8443 {
	tls /certs/localhost.crt /certs/localhost.key
	tracing {
		span caddy-app3
	}

	reverse_proxy https://app3:9443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}
